#container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;

  padding: 240px 20px;
  margin: 10px;
}
#container > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  padding: 10px;
  margin: 10px;
}
#container > div > p {
  padding: 0px;
  margin: 0px;
}
#container > div > input {
  border-style: solid;
  border-radius: 8px;
  border-width: 3px;
  border-color: var(--pc2);

  padding: 10px;
  margin: 0px;
}
#container > p{
  text-wrap: wrap;
  text-align: center;

  max-width: 230px;
}
p{
  color: var(--pc1);
  font-size: 18px;
}

