img{
  max-width: 130px;
}
#container{
  color: var(--pc3);
  background: var(--sc2);
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}
#container > div {
  display: flex;
  flex-direction: row;
}
#container > div > div{
  display: flex;
  flex-direction: column;
}

