<div id="container">
  <img src="/favicon.svg" alt="NATguide logo">




  <div>
    <div>
      <div>
        <label for="usrnm">Username</label>
        <input type="text" [(ngModel)]="usrname" id="usrnm">
      </div>
      <div>
        <label for="usrpw">Username</label>
        <input [type]="pwtype" [(ngModel)]="usrpw" id="usrpw">
      </div>
      <div>
        <app-button btnText="Login" />
        <app-button btnText="Register" />
        <app-button btnText="Forgot Password" />
      </div>
    </div>

    <div>
      <img src="/NATguide_word.svg" alt="NATguide word">
      <p>A Smarter Way to review for the NAT( National Achievement Test ) in Philippines, personalized to what you need</p>
    </div>
  </div>
</div>
