<div id="container">
  <img src="/favicon.svg" alt="NATguide logo">






  <div>
    <div> <!-- login form start -->
      <div>
        <input type="text" [(ngModel)]="usrname" placeholder="Username">
      </div>
      <div>
        <input [type]="pwtype" [(ngModel)]="usrpw" placeholder="Password">
        <button type="button" (click)="seeUnseePW()">
          <img [src]="susdir" alt="eye icon">
        </button>
      </div>
      <div>
        <app-button
            [btnText]="'Login'"
            iconname=""
            isBold="bold"
            (btnClick)="clickedLogin()"
          />
        <app-button
            [btnText]="'Register'"
            iconname=""
            [style]="'outline-style'"
            [size]="'small-size'"
            (btnClick)="clickedRegister()"
          />
        <app-button
            [btnText]="'Forgot Password'"
            iconname=""
            [style]="'outline-style'"
            [size]="'small-size'"
            (btnClick)="clickedForgotPW()"
          />
      </div>
    </div> <!-- login form end -->


    <div>
      <img src="/NATguide_word.svg" alt="NATguide word">
      <p>A Smarter Way to review for the NAT( National Achievement Test ) in Philippines, personalized to what you need</p>
    </div>
  </div>
</div>
