#outer{
  display: flex;
  justify-content: center;

  padding: 0px;
  margin: 0px;
  height: 100vh;

  background-image: url("/background/bg_forgotpw.svg");
  background-repeat: no-repeat;
  background-size: 130%;
  background-position-x: -328px;
  background-position-y: 153px;
}
#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  padding: 10px;
  margin: 90px 0px 0px 0px;
}


#container > div:nth-child(1){
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;

  transition: var(--t-slow);
}
#container > div:nth-child(1) > input{
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 157%;
  letter-spacing: calc(1rem *0.09);
  color: var(--sc1);
  background-color: transparent;

  flex-grow: 1;

  padding: 5px 10px;
  margin: 0px;

  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--pc3);
}


#container > div:nth-child(2){
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: var(--t-slow);
}


label, p{
  font-size: 1rem;
  line-height: 157%;
  letter-spacing: calc(1rem *0.09);
  color: var(--pc1);
}
label{
  font-weight: bold;
}
p{
  max-width: 360px;
  text-align: center;
}




@media (min-aspect-ratio: 5/16) and (max-aspect-ratio: 27/16){
  #container{
    padding: 10px 0px;
    margin: 90px 0px 0px 0px;

    width: 100%;
  }
  #container > div:nth-child(1){
    padding: 20px 10px;
    margin: 0px;

    border-radius: 15px;
    border: transparent;

    backdrop-filter: var(--bf-blur);
    -webkit-backdrop-filter: var(--bf-blur);
    background-color: var(--pc3-25opacity);
  }
  #container > div:nth-child(2){
    padding: 20px 0px;
    margin: 0px;

    backdrop-filter: var(--bf-blur);
    -webkit-backdrop-filter: var(--bf-blur);
    background-color: var(--pc3-25opacity);

    width: 100%;
  }
}

