#style{
  font-style: normal;
  font-weight: bold;
  font-size: 11px;

  color: var(--pc1);
  background-color: transparent;
  border-radius: 8px;
  border-color: var(--pc1);
  border-width: 1px;

  padding: 5px;
  margin: 5px;
  cursor: pointer;

  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
#style:hover {
  color: var(--pc2);
  background-color: var(--pc3);

  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
}
#style:active {
  background-color: var(--pc3dark);
}

