#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding: 280px 20px;
  margin: 20px;
}
#container > div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  padding: 5px;
  margin: 5px;
}
#container > div > div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  border-style: solid;
  border-width: 2px;
  border-radius: 13px;
  border-color: var(--pc2);

  padding: 0px;
  margin: 2px;
}
input{
  font-size: 14px;

  border: transparent;
  border-radius: 8px;

  padding: 10px;
  margin: 5px;
}
label{
  color: var(--pc1);
  font-size: 14px;
  font-weight: bold;
}
button{
  border: transparent;
  background: transparent;
}

