div{
  font-size: 24px;
  font-weight: normal;

  padding: 20px;
  margin: 0px;

  background-color: #180822;

  border-radius: calc(3*8px);
}
div > div{
  color: #180822;
  background-color: #FFAABB;

  margin: 8px;
}

div > div:nth-child(1),
div > div:nth-child(2),
div > div:nth-child(3){
  font-weight: normal;
}
div > div:nth-child(4),
div > div:nth-child(5),
div > div:nth-child(6){
  font-weight: bold;
}
div > div:nth-child(1),
div > div:nth-child(4){
  font-size: 1rem;
}
div > div:nth-child(2),
div > div:nth-child(5){
  font-size: 1.6rem;
}
div > div:nth-child(3),
div > div:nth-child(6){
  font-size: 2.14rem;
}

