<router-outlet />
<div>
  <div>
    The quick brown fox jumps over the lazy dog 01234 56 789 -- common
  </div>
  <div>
    The quick brown fox jumps over the lazy dog 01234 56 789 -- heading
  </div>
  <div>
    The quick brown fox jumps over the lazy dog 01234 56 789 -- sub-heading
  </div>
  <div>
    The quick brown fox jumps over the lazy dog 01234 56 789 -- common BOLD
  </div>
  <div>
    The quick brown fox jumps over the lazy dog 01234 56 789 -- heading BOLD
  </div>
  <div>
    The quick brown fox jumps over the lazy dog 01234 56 789 -- sub-heading BOLD
  </div>
  <div>
    ✔ font-family, ✔ font-size, ✔ font-weight
  </div>
</div>

