<button
    type="button"

    (click)="onClick()"
    (mouseenter)="onHover()"
    (mouseleave)="initIcon()"
    (mousedown)="onPressing()"
    (mouseup)="onHover()"
    [ngClass]="[style, size, isBold]"
    >
    <!--
      style:
        normal-style
        outline-style
        navigation-style
        danger-style


      size:
        normal-size
        small-size


      isBold:
        bold
    -->


    <ng-container *ngIf="iconname!=''">
      <img [src]="icondir" alt="iconname INvalid">
    </ng-container>
    {{ btnText }}


</button>
