<div>
  <div>
    <app-button-acc btnText="Account" (btnClick)="clickedAcc()"/>
    <div>
      <img src="/eg_badges/basicMath.svg" alt="basic math badge">
      <img src="/eg_badges/cityMarathon.svg" alt="city marathon badge">
      <img src="/eg_badges/basicEnglish.svg" alt="basic english badge">
      <img src="/eg_badges/existence.svg" alt="existence badge">
    </div>
  </div>




  <div>
    <div>
      personalized
    </div>

    <div>
      graph performance quiz
    </div>

    <div>
      specific subject
    </div>

    <div>
      all subject, which one user good at and not so good at
    </div>
  </div>
</div>

