#outer{
  display: flex;
  justify-content: center;

  padding: 0px;
  margin: 0px;

  width: 100vw;

  background-image: url("/background/bg_home_lo_up.svg");
  background-repeat: no-repeat;
  background-size: 142%;
  background-position-x: -520px;
  background-position-y: -250px;
}


#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 161px;

  width: 100%;

  padding: 0px;
  margin: 30px 0px 10px 0px;
}


#container > div:nth-child(1){ /* whole header ie. logo, lightmode, login, signup, startqz */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;

}
#container > div:nth-child(1) > div:nth-child(1){ /* inside logo icon and logo word */
  display: flex;
  gap: 10px;
  margin: 0px 0px 0px 50px;
}
#container > div:nth-child(1) > div:nth-child(2){
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 764px;
  margin: 0px 50px 0px 0px;
}
#container > div:nth-child(1) > div:nth-child(2) > div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}




#container > div:nth-child(2){ /* inside 2div: body2div and footer */
  width: 100%;

  background-image: url("/background/bg_home_lo_low.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 0px;
  background-position-y: 750px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 470px;
}
#container > div:nth-child(2) > div:nth-child(1){
  display: flex;
  flex-direction: column;
  gap: 810px;

  width: 100%;
}
#container > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > p{
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 127%;
  letter-spacing: calc(2.4rem *0.09);
  text-align: center;
  color: var(--pc1);

  max-width: 602px;

  margin: 0px 0px 0px 170px;
}
#container > div:nth-child(2) > div:nth-child(1) > div:nth-child(2){
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: 100%;

  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 157%;
  letter-spacing: calc(1rem *0.09);
  color: var(--pc1);
}
#container > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div > p:nth-child(1){
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 127%;
  letter-spacing: calc(2.4rem *0.09);
}
#container > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > div > ul > li{
  padding: 0px 50px 0px 0px;
}
#container > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) > p{
  padding: 0px 50px;
  max-width: 487px;
}




#container > div:nth-child(2) > div:nth-child(2){
  background-color: yellowgreen;
}




img{
  max-height: 57px;
}

