#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  min-width: 210px;
  max-width: 400px;

  padding: 25px;
  margin: 0px;

  border-radius: 15px;

  box-shadow: var(--sbox);

  background-color: var(--tc1);
}
#container > div:nth-child(1){
  /* inside are title and description div */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  flex-wrap: wrap;

  padding: 0px;
  margin: 0px;
}
#container > div:nth-child(1) > div:nth-child(1){
  /* inside are circle( div ) and warning title */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 5px;

  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 157%;
  letter-spacing: calc(1rem *0.09);
  color: var(--pc1);
}
#container > div:nth-child(1) > div:nth-child(2){
  color: var(--pc1);
}
#container > div:nth-child(2){
  /* inside are 2 buttons, no and yes */
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding: 10px;
  margin: 0px;

  border-radius: 15px;
  border: transparent;

  background-color: var(--sc3);
}


#container > div:nth-child(1) > div:nth-child(1) > div:nth-child(1){
  /* cicle left side on title warning */
  width: 15px;
  height: 15px;

  background-color: var(--pc1);

  border-radius: 7px;
  border: transparent;
}

