<div id="container">
  <div>
    <div>
      <div>
      </div>
      {{ title }}
    </div>
    <div>
      {{ what_dc }}
    </div>
  </div>




  <div>
    <app-button
        [btnText]="txtNo"
        [iconname]="txtNo_iconname"
        [style]="'normal-style'"
        [size]="'normal-size'"
        (btnClick)="mclkNo()"
        />
    <app-button
        [btnText]="txtYes"
        [iconname]="txtYes_iconname"
        [style]="'danger-style'"
        [size]="'small-size'"
        (btnClick)="mclkYes()"
        />
  </div>
</div>

