
@font-face{
  font-family: oxygenfont;
  src: url(/fonts/Oxygen-Regular.woff2) format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face{
  font-family: oxygenfont;
  src: url(/fonts/Oxygen-Bold.woff2) format('woff2');
  font-weight: 700;
  font-display: swap;
}




:root{
  --pc1: #4E0824; /* dark maroon */
  --pc2: #A7243E; /* dark peach */
  --pc3: #E9876A; /* light peach */

  --sc1: #1F1F1F; /* dark black */
  --sc2: #F7F7F7; /* bright white */
  --sc3: #E7E7E7; /* white(lilDim) */

  --tc1: #F62B2B; /* bright red */
  --tc2: #209324; /* relax green */

  --pc2-25opacity: rgba(167, 36, 62, .25);
  --pc3-25opacity: rgba(233, 135, 106, .25);
  --pc3-50opacity: rgba(233, 135, 106, .5);
  --bf-blur: blur(7px); /* backdrop-filter: var(--bf-blur) */
  --t-reg: background-color 0.4s ease, padding 0.4s ease;
  --t-slow: background-color 1.1s ease, padding 1.1s ease;


  font-family: oxygenfont, system-ui, sans-serif;
  font-size: 14px;
  line-height: normal;
  letter-spacing: normal;

  color: var(--sc1);
  background-color: var(--sc2);

  padding: 0px;
  margin: 0px;
}

html, body {
    margin: 0;
    padding: 0;
}
